<h1>Instructions</h1>
<h3><%= link_to "Return to Home", categories_path(@categories) %></h3>

<li><h4>BUILD DATABASE:</h4> Run "rake cats" in the command prompt to initiate the cats task</li>

<li><h4>VIEW DATABASE:</h4> Return to homepage. Refresh if opened before running "rake cats".</li>

<li><h4>EMPTY DATABASE:</h4> Run "rake rb:reset" in the command prompt</li>

<li><h4>GET HELP</h4> Email kyleste@live.com</li>

